<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1502830778456-7c68e5a3c5f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=103380581d1beb8b29c197edcbf6bb6b&auto=format&fit=crop&w=500&q=60');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sock #1</h2>
          <p>Very cool sock, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/juliepierre">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1511872638242-f1652016540e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25a493fe3edd7dece3051b0f7f2e5f0f&auto=format&fit=crop&w=500&q=60');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sock #2</h2>
          <p>Very cool sock, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/juliepierre">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1505059152565-42971f574ade?ixlib=rb-0.3.5&s=46c7f73707ecbd2ce4be03fcc9b87dc3&auto=format&fit=crop&w=500&q=60');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sock #3</h2>
          <p>Very cool sock, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/juliepierre">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
