<label class="radio-container">Delivery
  <input type="radio" name="radio" value="<%= @sock.shipping_method %>" >
  <span class="checkmark"></span>
</label>
<label class="radio-container">Relay
  <input type="radio" name="radio" value="<%= @sock.shipping_method %>" >
  <span class="checkmark"></span>
</label>
