<div class="wrapper">
  <div class="container">
    <div class="cards">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
            <i class="fas fa-newspaper"></i>
            <div class="card-wrapper-info">
            <p>Read our blog</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
            <i class="fas fa-video"></i>
            <div class="card-wrapper-info">
            <p>Watch our vlog</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
            <i class="fas fa-shoe-prints"></i>
            <div class="card-wrapper-info">
            <p>Sock of fame</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
