<div class="wrapper">
  <div class="container-wrapper">
    <div class="cards">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
            <div>
              <%= image_tag "find_icon.jpg", height: 70 %>
            </div>
            <div class="card-wrapper-info">
            <p><span style="font-weight:bold">Localise every lonelysocks</span><br>autour de vous.</p>
            <p> <span style="font-weight:bold; color:#2684E2"> See socks around </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
             <div>
              <%= image_tag "socks_icon.jpg", height: 70 %>
            </div>
            <div class="card-wrapper-info">
            <p> <span style="font-weight:bold"> Find the best partener</span><br>for your sock.</p>
            <p> <span style="font-weight:bold; color:#2684E2"> Fill your socks details </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="icon">
             <div>
              <%= image_tag "doublesocks_icon.jpg", height: 70 %>
            </div>
            <div class="card-wrapper-info">
            <p>Buy for your lonelysock<br><span style="font-weight:bold"> a socksmate and be happy</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btoun-bleu-cool-home">
    <%= link_to "Discover our socks", socks_path %>
  </div>
</div>
