<div class="wrapper">
  <div class="container">
    <div "card-wrapper">
      <div class="col-xs-12 col-sm-4">
        <i class="far fa-newspaper"></i>
        <div class="card-wrapper-info">
        <p>lorem</p>
        </div>
      </div>
    </div>
  </div>
</div>
