<h1>All socks</h1>

<ul>
  <% @socks.each do |sock| %>
  <li><%= sock.title %></li>
  <li><%= cl_image_tag('sock.photo', width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>

<div class="btn-container text-center">
  <%= link_to '+ Add a sock', new_sock_path, class: "btn btn-success btn-add " %>
</div>
