.banner-dashboard{
  height: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-size: cover !important;
}
.dashboard-container .nav.nav-tabs{
  margin:0;
  border:0;
}
.text-center {
 text-align: center;
}
.container {
 max-width: 900px;
 margin: 50px auto;
}

img{
 vertical-align: middle;
 max-width: 100%;
 height: auto;
}
.message-profile{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 overflow: hidden;
}

*{
 box-sizing: border-box;
}
p{
 margin: 0;
}
.inbox {
 margin:0;
 list-style: none;
 padding:0 20px;
 border: 1px solid #DCE0E0;
}
.message {
 padding:20px;
 border-bottom: 1px solid #DCE0E0;
 display: flex;
 align-items: center;
 font-size:14px;
}
.message:last-child {
 border:0;
}
.message .message-text {
 flex-grow: 1;
}
.message .message-detail, .message .message-text {
 padding: 0 0 0 8px;
}
.message .message-detail{
 width: 100%;
 max-width:125px;
}
.message .message-statut {
 width: 100%;
 max-width:90px;
 font-weight: bold;
 padding:0 0 0 8px;
}
.message .message-statut .statut{
 color: #D3D3D3;
 margin:0 0 10px;
}
.message .statut.valid{
 color: #5DAE5D;
}
.message .statut.refused{
 color: #FF0808;
}
.message .date,.message p {
 margin:6px 0 0;
}

.tabs button {
 background: none;
 border: 0;
 font-family: 'Varela Round', sans-serif;
 font-weight: bold;
 font-size:18px;
 padding-bottom:10px;
 margin: 0 10px 0 0;
 color: #dddddd;
}

.tabs .active, .tabs button:hover{
 border-bottom: 4px solid #D23333;
 color:#000;
}

.tabs button:focus {
 outline:0;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
.dashboard-container .message-statut.message-statut-seller{
  max-width:190px;
}
