.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.container-home {
  display: flex;
  justify-content: space-between;
  align-item: center;
  width:1000px;
}

.btn-home-banner {
  color: #FFFEE3;
  border: 1px solid #FFFEE3;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-home-banner:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFFEE3;
}

.btn-treehouse-banner {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}

.btn-treehouse-banner:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

ul {
 list-style-type: none;
 margin:20px;
}

#search-form-home {
  border: 1px solid rgba(30, 30, 30,0.8);
  background-color: rgba(30, 30, 30,0.8);
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  color:white!important;
  padding:20px 40px 20px 20px !important;

h3 {
  font-size: 20px;
  font-weight:lighter;
  margin-top: 12px;
  margin-bottom: 20px;
}

li {
  margin-top:10px;
}
}

.list-container {
  vertical-align:center;
  height:150px;
}

.banner-content {
  h1 {
    margin-top: 40px;}
}
