// Import page-specific CSS files here.
@import "home";
@import "show";
@import "socks";
@import "dashboard-tab";


h1 {
  font-family:"Montserrat";
}


h2 {
  font-family:"Nunito"
}

h3 {
  font-family:"Montserrat";
}


p {
  font-family:"Nunito"
}


a {
  font-family:"Nunito"
}
