.img-product{
  height:368px;
}
.sock-detail-container{
  display:flex;
  max-width: 1080px;
  padding:0 24px 25px;
  margin:0 97px;
}
.sock-display, .sock-booking{
  width: 50%;
  display: flex;
  justify-content: center;
}
.sock-booking{
  padding:25px 0 0;
}
h1 {
  font-size:32px;
}
h2 {
  font-size:28px;
}
.sock-features, .slidebar-show{
  margin:0 0 24px;
}
.sock-features .item{
  display:inline-block;
  margin:0 16px 0 0;
}
.sock-features .item:last{
  margin:0;
}
li {
  display: inline-block;
  margin-right: 10px;
  color: #C8909F;
}
ul {
  margin-left: -35px;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #B5E0D6;
  opacity: 1;
  transition: background 0.3s ease;
  margin-left: 80px;
}
.btn-treehouse:hover {
  opacity: 0.7;
  background: #B5E0D6;
  text-decoration: none;
  color: white;
}
