<h1><%= @user.first_name %><%= @user.last_name %></h1>
<%= cl_image_tag(@user.photo, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}
  ]) %>
