<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path("banner_image.jpg") %>');">

  <div class="container-home">

    <div class="search-form">

      <form action="/tasks" method="post" id="search-form">
        <h3>Find a sockmate for your lonelyone</h3>
        <ul class="list-container">
          <li>
            <label for="title">Color: </label>
            <input type="text" name="task[title]" id="title">
          </li>
          <li>
          <label for="details">Size: </label>
          <input type="text" name="task[details]" id="details">
          </li>
          <li>
            <label for="title">Lieux: </label>
            <input type="text" name="task[title]" id="title">
          </li>
        <ul>
        <a href="#" class="btn-home-banner">Search</a>
      </form>
    </div>

    <div class="banner-content">
      <h1>NY Socks Exchange</h1>
      <p>Find the socks of your life</p>

    </div>
  </div>

</div>

<%= render "components/cards" %>
<%= render "components/wrapper" %>
