// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "cards";
@import "wrapper";
@import "button";
@import "radio-button";
@import "slidebar";
@import "form";


.filter {
  text-align: center;
  display: flex;
  justify-content:space-around;
  background-color: white;
  border-bottom: 1px solid RGBA(234, 243, 242, 1.00);
  height:40px;
  padding-left:50px;
  padding-right:50px
}

