
.wrapper {
  border-top: 8px solid rgba(47, 202, 171, 1.00);
  background-color: white;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 300px;
  display: flex;
  align-items: center;
  position:relative;
}

.container-wrapper{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    align-items: center;
    width:100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  padding-bottom: 113px;
}
.icon {
  width: 250px;
  height: 30px;
  text-align: center;
  margin:40px;
}

p {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
    padding-top: 7px;
    margin-bottom: 5px;
}


// .btn-treehouse-home {
//   position:absolute;
//   bottom:20px;
//   right:90px;
//   color: white;
//   padding: 10px 15px;
//   border-radius: 4px;
//   font-weight: bold;
//   background: rgba(64, 154, 215, 1.00);
//   border: 2px solid rgba(38, 132, 226, 1.00);
//   transition: background 0.3s ease;
//   font-size: 10px;
//   text-decoration: none!important;
// }

// .btn-treehouse-home:hover {

//   opacity: 1;
//   background: rgba(38, 132, 226, 1.00);
//   text-decoration: none;
//   color: white;
// }
